<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo">Test App</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ul>
        <li nz-menu-item *ngFor="let item of companyLocations; index as i;" (click)="selected(i)">
          {{item.companyName}}
        </li>
      </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        <div *ngIf="selectedId!=undefined" style="display: flex;flex-wrap: wrap; justify-content: space-around; ">
          <div *ngFor="let item of companyLocations[selectedId].locations" class="box">
           <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3); text-shadow: horizontal-offset vertical-offset blur color;">{{item.locationName}}</p>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-footer>Test App CoronaTrip</nz-footer>
  </nz-layout>
</nz-layout>
